RewriteEngine On

# If the request is not for the "public" directory
RewriteCond %{REQUEST_URI} !^/public/

# If the requested file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to the "public" directory
RewriteRule ^(.*)$ /public/$1 [L]
