<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
RewriteCond 		%{HTTP:Authorization} ^(.*)$ [NC]
RewriteRule 		/.* - [E=HTTP_AUTHORIZATION:%1]
</IfModule>

# Disable directory browsing
Options -Indexes

# Redirect digitech-agency.fr/public to digitech-agency.fr
RewriteEngine On
RewriteRule ^public(/|$) / [R=301,L]

# Block access to all directories except "public"
RewriteCond %{REQUEST_URI} !^/public(/|$) [NC]
RewriteRule ^ - [F]
