<VirtualHost *:80>
    ServerName digitech-agency.fr
    DocumentRoot /home/digitechagency/public_html/public

    <Directory /home/digitechagency/public_html/public>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

